html * {
    font-family: 'Righteous', cursive; 
    color: white;
    font-size: calc(8px + 0.59vw);
    --text: #e1e1e1;
    --primary: #ff0044;
    --secondary: #202029;
    --border: #ffffff00;
    --important: #fc9803;
}
body {
    background-color: #15151b;
    padding: 15px 15px;
    overflow: hidden;
}
.box {
    background-color: var(--secondary);
    border-radius: 12px;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
}
.note {
    color: var(--important);
}
.discord {
    cursor: pointer;
    color: #7f03fc;
    width: auto;
}
.discord:hover {
    color: var(--primary);   
}
.request {
    overflow-wrap: break-word;
    grid-area: 2 / 1 / 3 / 2;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logotype {
    display: flex;
}
.logo {
    height: 35px;
    margin: auto 5px 2px;
}
.title {
    color: var(--primary);
    font-size: 16;
    letter-spacing: 3px;
    margin-top: 0;
}
.name {
    margin: auto 0;
    font-size: 16px;
    letter-spacing: 3px;
}
.offset {
    margin: 15px
}
.search {
    background-color: #00000000;
    background-image: url('search.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 50%;
    background-size: 15px;
    padding: 5px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #00000000;
    margin: auto 5px;
    color: #00000000;
    float: right;
    height: 26px;
    width: 26px;
    transition: width 300ms ease-in-out;
    font-size: 16px;
    margin-right: 15px;
}
input::placeholder {
    color: #00000000;
}
input:focus::placeholder {
    color: white;
}
.search:focus {
    width: 300px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--text);
    color: var(--text);
    outline: none;
}
.page {
    display: grid; 
    grid-template-columns: 1fr 2.5fr; 
    grid-template-rows: auto auto auto auto auto; 
    gap: 15px 15px; 
    margin-top: 15px;
}
.about {
    grid-area: 1 / 1 / 2 / 2;
}
.contact {
    overflow-wrap: break-word;
    grid-area: 3 / 1 / 4 / 2;
}
.list {
    grid-area: 1 / 2 / 6 / 3;
    overflow-y: scroll;
    height: 93.3vh;
}
.item {
    display: flex;
}
.gametitle {
    color: var(--primary);
    font-size: 24;
    line-height: 20px;
    margin-top: 0;
}
.gametitlebox {
    height: 20px;
    margin-bottom: 10px;
}
.iconbox {
    display: flex;
    width: fit-content;
    height: 30px;
    line-height: 10px;
}
.icon {
    margin: auto;
    fill: var(--text);
    height: 16px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.ico {
    margin-left: 10px;
    color:var(--text);
    margin-top: 11px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--text)0f;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: var(--secondary);
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 5px;
}
.mobile {
    display: none !important;
}
header {
    position: sticky;
    top: 15;
    z-index: 10;
}
input:fucus {
    outline: none;
}
.pc {
    display: flex;
}
.coverdiv {
    max-width: 150px;
    margin-right: 15px;
    border-radius: 10px;
    height: auto;
}
.cover {
    max-width: 150px;
    border-radius: 10px;
    height: auto;
}
.links {
    display: flex;
    flex-wrap: wrap;
}
.linkbox {
    background-color: #888888;
    border-radius: 15px;
    height: 25px;
    display: flex;
    padding: 0 10px 0 10px;
    margin: 0 10px 5px 0;
}
.link {
    line-height: 12px;
    margin: auto;
    font-size: 12;
    color: #000000;
    cursor: pointer;
    margin-top: 7px;
}
.Torrents {
    background-color: #2bc430;
}
.OneDrive {
    background-color: #2596be;
}
.MegaUp {
    background-color: #fc040c;
}
.Mega {
    background-color: #e00404;
}
.Uptobox {
    background-color: #70cce4;
}
.GoogleDrive {
    background-color: #f7a900;
}
.Mediafire {
    background-color: #0077ff;
}
.Other {
    background-color: #888888;
}
.button {
    height: 20px;
    align-self: center;
    margin: 0 15px 2px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 22px;
    margin-bottom: 10px;
}
.button:hover {
    color: var(--primary);
}
.requestbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.requests {
    display: none;
    background: #0000009f;
    backdrop-filter: blur(2px);
    width: 200vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#create-issue-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.form {
    display: none;
    z-index: 20;
}
.game {
    margin-bottom: 15px;
    margin-right: 15px;
}
#titlebar {
    font-size: 16px;
    margin-top: 7px;
}
#issue-title,
#issue-body {
    background-color: #15151b;
    margin-top: 5px;
}
@media only screen and (max-device-width: 1080px) {
    .search {
        background-color: #00000000;
        background-image: url('search.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) 50%;
        background-size: 30px;
        padding: 5px;
        border-style: solid;
        border-radius: 16px;
        border-width: 1px;
        border-color: #00000000;
        margin: auto 10;
        color: #00000000;
        float: right;
        height: 52px;
        width: 52px;
        transition: width 300ms ease-in-out;
        font-size: 32px;
    }
    .search:focus {
        width: 500px;
        border-style: solid;
        border-radius: 16px;
        border-width: 2px;
        border-color: var(--text);
        color: var(--text);
        outline: none;
    }
    body {
        overflow: scroll;
    }
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--secondary);
        filter: drop-shadow(0px 0px 10px #000000dd);
    }
    .page {
        display: flex;
        flex-direction: column;
    }
    .pc {
        display: none;
    }
    .about {
        overflow-wrap: break-word;
    }
    .sponsor {
        overflow-wrap: break-word;
    }  
    .contact {
        overflow-wrap: break-word;
    }   
    .list {
        overflow-y: visible;
        height: auto;
    }
    .mobile {
       display: flex !important;
    }
    .mobileblock {
        display: block !important;
     }
    html * {
    font-family: 'Righteous', cursive !important; 
    color: white;
    font-size: 32px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
    }
    .logo {
        height: 70px;
        margin: auto 5px;
    }
    .name {
        margin: auto 15px;
        font-size: 32px;
        letter-spacing: 3px;
    }
    .ico {
        font-size: 32px !important;  
        margin-top: 20px; 
    }
    .title {
        font-size: 12;
    }
    .gametitle {
        margin: auto 0;
        color: var(--primary);
        font-size: 36px;
        line-height: 40px;
        margin-top: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 680px;
    }
    .icon {
        margin: auto;
        fill: var(--text);
        height: 38px;
    }
    .linkbox {
        margin-left: 15px;
        margin-top: 5px;
        border-radius: 30px;
        height: 50px;
        padding: 0 20px 0 20px;
    }
    .link {
        line-height: 0px;
        margin: auto;
        font-size: 32px;
        color: #000000;
    }
    .cover {
        max-width: 200px;
    }
    .content {
        margin-left: 60px;
        margin-top: 20px;
        min-height: 200.66px;
        margin-bottom: 20px;
    }
    .game {
        margin-right: 0px;
        position: relative;
    }
    .button {
        font-size: 32px;
        margin: -20px 15px 0px;
    }
    .links {
        position: absolute;
        bottom: 0;
    }
    .linkcontainer {
        display: flex;
        flex-wrap: wrap;
        float: right;
    }
    .outerlinkcontainer {
        height: fit-content;
        margin-bottom: 20px;
        border-radius: 12px 12px 40px 12px;
    }
    #download {
        font-size: 32px;
        line-height: 0px;
        margin-top: 26px;
        margin-right: 5px;
        min-width: 180px;
    }
    .issue {
        font-size: 32px;
    }
    .input {
        height: 50px;
        border-radius: 25px;
        font-size: 32px;
    }
    #submit {
        padding: 40px;
        font-size: 38px;
    }
    #linkoffset {
        display: flex;
    }
    #titlebar {
        font-size: 32px;
        margin-top: -24px;
    }
    .offset {
        margin: 20px;
    }
    .box {
        border-radius: 16px;
    }
    .cover {
        border-radius: 14px;
    }
}
