html * {
    font-family: 'Righteous', cursive !important; 
    color: white;
}

body {
    background: linear-gradient(150deg, rgba(11,12,25,1) 0%, rgba(32,34,49,1) 100%);
    margin: 15px;
    overflow: hidden;
}

.box {
    background-color: #20212e;
    border-radius: 12px;
    border-color: #2b2b2b;
    border-width: 1px;
    border-style: solid;
    
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logotype {
    display: flex;
}

.logo {
    height: 35px;
    margin: auto 5;
}

.title {
    color: #ff0044;
    font-size: 16;
    letter-spacing: 3px;
}

.name {
    margin: auto 0;
    font-size: 16;
    letter-spacing: 3px;
}

.navigation {
    height: 20px;
}

.button {
    height: 20px;
    width: 100px;
    margin-right: 10px;
    margin-top: 8px;
    background: none;
    border: none;
    font-size: 16;
    letter-spacing: 3px;
    transition-duration: 0.25s;
    cursor: pointer;
}

.button:hover {
    color:#ff0044;
}

.offset {
    margin: 15px
}

.page {
    display: grid; 
    grid-template-columns: 1fr 2.5fr; 
    grid-template-rows: 1.5fr 1fr 0.5fr 1fr 1fr; 
    gap: 15px 15px; 
    margin-top: 15px;
}

.about {
    grid-area: 1 / 1 / 2 / 2;
}

.sponsor {
    overflow-wrap: break-word;
    grid-area: 2 / 1 / 3 / 2;
}

.contact {
    overflow-wrap: break-word;
    grid-area: 3 / 1 / 4 / 2;
}

.list {
    grid-area: 1 / 2 / 6 / 3;
    overflow-y: scroll;
    height: 93.3vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.item {
    display: flex;
}

.snap {
    margin-bottom: 15px;
    margin-right: 15px;
    scroll-snap-align: start;
    position: relative;
}

.gametitle {
    margin: auto 0;
    color: #ff0044;
    font-size: 24;
    letter-spacing: 3px;
}

.cover {
    max-height: 200px;
    margin-right: 15px;
    border-radius: 10px;
}

.tagline {
    display: flexbox;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.platforms {
    float: left;
    color:#888888;
}

.download {
    float: right;
    color:#888888;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #ffffff0f;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #ff0044;
    border-radius: 5px;
}

.mobile {
    visibility: hidden;
}

header {
    position: sticky;
    top: 15;
    z-index: 10;
    
}

.pc {
    visibility: visible;
}

.download-icon {
    width: 25px;   
}

@media only screen and (max-device-width: 1080px) {
    
    .snap {
        margin-bottom: 15px;
        margin-right: 0px;
        scroll-snap-align: start;
        position: relative;
    }
    
    body {
        overflow: scroll;
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #20212e;
        filter: drop-shadow(0px 0px 10px #000000dd);
    }

    .page {
        display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.25fr 3fr; 
        gap: 15px 15px; 
        margin-top: 15px;
    }
    
    .pc {
        visibility: hidden;
    }

    .about {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .sponsor {
        overflow-wrap: break-word;
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .contact {
        overflow-wrap: break-word;
        grid-area: 4 / 1 / 5 / 2;
    }
    
    .list {
        grid-area: 3 / 1 / 4 / 2;
        overflow-y: visible;
        height: auto;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
    }

    .mobile {
        visibility: visible;
    }
    
    html * {
    font-family: 'Righteous', cursive !important; 
    color: white;
    font-size: 12;
    }
    
    .gametitle {
    margin: auto 0;
    color: #ff0044;
    font-size: 16;
    letter-spacing: 3px;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
    }

    .logo {
        height: 70px;
        margin: auto 5;
    }
    
    .name {
        margin: auto 0;
        font-size: 32;
        letter-spacing: 3px;
    }
    
    .navigation {
        height: 20px;
    }

    .button {
        height: 40px;
        width: 200px;
        margin-right: 10px;
        margin-top: 16px;
        background: none;
        border: none;
        font-size: 32;
        letter-spacing: 3px;
        transition-duration: 0.25s;
        cursor: pointer;
    }
    
    .download,
    .platforms {
        font-size: 24;   
    }

    .text {
        font-size: 8;
    }

    .title {
        font-size: 12;
    }
    
    .gametitle {
        margin: auto 0;
        color: #ff0044;
        font-size: 16;
        letter-spacing: 3px;
    }
    
    .description {
        font-size: 12;
    }
}
